<div>
  <div class="devices">
    <nz-card class="device" *ngFor="let device of devices " nzTitle="Ups Device" >
      <p>{{device.name}}</p>
      <p>{{device.uuid}}</p>
      <a (click)="showCard(device)">More</a>
    </nz-card>
  </div>

  <div class="device-table">
    <nz-table #devicesDatasId [nzData]="devicesDatas" [nzPageSize]="5">
      <thead>
      <tr>
        <th>Device Id</th>
        <th>Last Update Date</th>
        <th>Created Date Date</th>
        <th>Battery Percentage</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of devicesDatasId.data">
        <td>{{ data.deviceId }}</td>
        <td>{{ data.lastUpdateDate }}</td>
        <td>{{ data.createDate }}</td>
        <td>{{ data.batteryPercentage }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a (click)="deleteDeviceData()">{{ 'data.delete' | translate }}</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
