<div>
  DATA SHOW PAGE
  <div class="devices">
    <nz-card class="device" *ngFor="let device of devices " nzTitle="Ups Device" [nzExtra]="extraTemplate">
      <p>{{device.name}}</p>
      <p>{{device.uuid}}</p>
    </nz-card>
    <ng-template #extraTemplate>
      <a>More</a>
    </ng-template>
  </div>

  <div class="device-table">
    <nz-table #devicesDatasId [nzData]="devicesDatas">
      <thead>
      <tr>
        <th>deviceId</th>
        <th>lastUpdateDate</th>
        <th>createDate</th>
        <th>batteryPercentage</th>
        <th>status</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of devicesDatasId.data">
        <td>{{ data.deviceId }}</td>
        <td>{{ data.lastUpdateDate }}</td>
        <td>{{ data.createDate }}</td>
        <td>{{ data.batteryPercentage }}</td>
        <td>{{ data.status }}</td>
        <td>
          <a>Delete</a>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
