<nz-sider nzBreakpoint="lg"  nzWidth="240px" class="menu-sidebar" nzTheme="light" >
  <div class="sidebar-logo">
      <img alt="logo" src="https://www.eaton.com/content/dam/eaton/global/logos/eaton-logo-small.png" (click)="collapsed()">
    <a routerLink="/">
      <h1>Power</h1>
    </a>
  </div>
  <div nz-row class="device-information">
    <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="sidebar-info">
        <span *ngIf="isCollapsed">
          <h6>{{'dashboard.power' | translate}}</h6>
        </span>
      <span *ngIf="!isCollapsed">
        <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" class="sidebar-info">
        <h6 id="corporation"> Interview Case</h6>
      </div>
        </div>
      </span>
    </div>
  </div>
  <ul class="dashboard-sidebar" nz-menu nzMode="inline" nzTheme="light">
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/devices">
        <i nz-icon [nzType]="'star'" [nzTheme]="'fill'"></i>
      <span *ngIf="!isCollapsed">
      {{'dashboard.devices' | translate}}
      </span>
      </a>
    </li>
  </ul>
  <ul class="logout" nz-menu nzMode="inline" nzTheme="light">
    <li nz-menu-item nzMatchRouter>
      <a routerLink="/login">
        <i nz-icon [nzType]="'star'" [nzTheme]="'fill'"></i>
        <span *ngIf="!isCollapsed" (click)="logout()">
      {{'dashboard.logout' | translate}}
      </span>
      </a>
    </li>
  </ul>

</nz-sider>
<router-outlet></router-outlet>
